.teste-container {
  margin: auto;
  max-width: 1020px;
  padding: 40px 10px 80px 10px;
 
}

.info-teste-area {
  display: flex;
  justify-content: center;
}

.info-questao-atual-content {
  font-size: 20px;
  font-weight: 600 ;
  padding: 0px 8px;
}

.info-questao-atual {
  outline: 1px solid #2B6DE6;
  border-radius: 2px;
  height: 70px;
  width: 140px;
  display: flex;  
  justify-content: center;
  align-items: center;
  color: #2B6DE6;
  margin-right: 16px;
}

.info-tempo{
  background-color: rgba(0, 128, 0, 0.479);
  border-radius: 2px;
  height: 70px;
  width: 140px;
  display: flex;  
  justify-content: center;
  align-items: center;
  color: #FFF;
  margin-left: 16px;
}